grafana:
  persistence:
    enabled: true
    size: 3Gi
    storageClassName: local-path
  service:
    type: ClusterIP
  adminPassword: admin

prometheus:
  prometheusSpec:
    retention: 5d
    walCompression: true
    scrapeInterval: "30s"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 8Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 1Gi
